@use '../../../styles/theme.scss' as *;
@import '../../../styles/variables';

.sidebar {
  width: $right-sidebar-width;
  background-color: var(--background-secondary);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1px;
}
