@use '../../styles/theme.scss' as *;
@import '../../styles/variables';

.wrapper {
  width: 100%;
  overflow-y: auto;
  background-color: var(--background-secondary);
  border-radius: 10px;
}

/* Styles pour la scrollbar */
.wrapper::-webkit-scrollbar {
  width: 8px;
}

.wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.wrapper::-webkit-scrollbar-thumb {
  background: var(--text-secondary);
  border-radius: 4px;
}

.wrapper::-webkit-scrollbar-thumb:hover {
  background: var(--text-primary);
}
