* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

button,
input,
textarea {
  border: none;
  outline: none;
  background: none;
  font: inherit;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  line-height: 1.6;
  font-family: 'Roboto', sans-serif; /* Remplacez par votre police globale */
  background-color: #ffffff; /* Remplacez par votre couleur de fond */
  color: #000000; /* Remplacez par votre couleur de texte principale */
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}
