.emptyStateContainer {
  background-color: #1c1c1c;
  color: #fff;
  padding: 16px 20px;
  border-radius: 8px;

  h2 {
    font-size: 1rem;
    font-weight: 800;
    margin: unset;
  }

  p {
    font-size: 1rem;
    font-weight: 400;
  }
}

.createButton {
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 20px;
  padding: 4px 16px;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #f0f0f0;
  }
}
