.emptyStateContainer {
  background-color: #1c1c1c;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.createButton {
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #f0f0f0;
  }
}
