@use '../../../styles/theme.scss' as *;
@import '../../../styles/variables';

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--background-secondary);
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;

  @media (max-width: 768px) {
    padding-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 60px;
  }
  .wrapper {
    padding: 8px 16px 40px;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid var(--border-color);
  }
}
