@use '../../../styles/theme.scss' as *;
@import '../../../styles/variables';

.sidebar {
  width: $left-sidebar-width;
  background-color: var(--background-secondary);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1px;

  .wrapper {
    display: flex;
    flex-direction: column;
    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      //justify-content: space-between;
      gap: 8px;
      padding: 12px 16px 8px;

      .header_title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        font-size: 20px;
        padding: 4px 8px;
        font-weight: bold;
        color: var(--text-secondary);
        margin-inline-end: auto;

        .icon {
          color: var(--text-secondary);
          width: 24px;
          height: 24px;
        }

        span {
          padding: 4px 8px;
          font-size: 16px;
          font-weight: 700;
        }
      }
      .header_button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: var(--text-secondary);
        font-weight: 700;
        font-size: 18px;
        gap: 10px;
        cursor: pointer;

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 32px;
          height: 32px;
        }
      }
    }
    .filters {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
      margin: 8px 16px;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 8px 8px;
    overflow-y: hidden;

    &:hover {
      overflow-y: auto;
    }

    .topbar {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 4px;
      .search {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 8px;
        background-color: #ffffff1a;
        color: var(--text-secondary);
        font-size: 13px;
        font-weight: 400;
        .icon_search {
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--text-secondary);
          font-size: 16px;
          padding: 8px;
          width: 24px;
          height: 24px;
          cursor: pointer;
        }
        input {
          border: none;
          background-color: transparent;
          color: var(--text-secondary);
          font-size: 13px;
          font-weight: 400;
          width: 0;
          padding: 2px;
          transition:
            width 0.3s ease,
            opacity 0.3s ease;
          opacity: 0;

          &:focus {
            outline: none;
          }
        }
        input.show {
          width: 150px;
          opacity: 1;
        }
      }

      .sort {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 4px 12px;
        border-radius: 8px;
        background-color: var(--background-secondary);
        color: var(--text-secondary);
        font-size: 15px;
        font-weight: 600;
        .icon_sort {
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--text-secondary);
          width: 24px;
          height: 24px;
        }
      }
    }

    .list {
      display: flex;
      flex-direction: column;
    }
  }
}

/* Styles pour la scrollbar */
.content::-webkit-scrollbar {
  width: 10px;
}

.content::-webkit-scrollbar-track {
  background: transparent;
}

.content::-webkit-scrollbar-thumb {
  background: var(--text-secondary);
}

.content::-webkit-scrollbar-thumb:hover {
  background: var(--text-primary);
}
