.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  width: 100%;
  padding: 8px;
  background-color: var(--background-primary);
}

.main-content {
  display: flex;
  flex-direction: row;
  gap: 8px;
  overflow: hidden;
}

.content-wrapper {
  width: 100%;
  overflow-y: auto;
  background-color: var(--background-secondary);
  border-radius: 10px;
}

/* Styles pour la scrollbar */
.content-wrapper::-webkit-scrollbar {
  width: 8px;
}

.content-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.content-wrapper::-webkit-scrollbar-thumb {
  background: var(--text-secondary);
  border-radius: 4px;
}

.content-wrapper::-webkit-scrollbar-thumb:hover {
  background: var(--text-primary);
}
